# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Arithmetic expressions in python

## Author
Tao

#### Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Julia
4. Java
5. Sql

#### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. seaborn
3. pandas
4. numpy
5. tensorflow

| Data Science Tools | 
|----------|
| Jupyter Notebook   | 
| RStudio | 
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
minutes = 200
hours = 200/60
hours
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335